{% extends 'upload/base.html' %}

{% block title %}Upload/ Landing Home {% endblock %}

{% block content %}
<div style="margin-top:10%; margin-left:15%; margin-right:15%;">
    <center>
        <div style="width:30%; display: inline-block;">
            <table>
                <tbody>
                    <tr>
                        <th>For Uploading Record(s)</th>
                    </tr>
                    <tr>
                        <td><a href="{% url 'upload:PurchaseUpdate' %}">Upload One Instance</a></td>
                    </tr>

                    <tr>
                        <td><a href="{% url 'upload:UploadView' %}">Upload Bulk Instance</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width:30%; display: inline-block;">
            <table>
                <tbody>
                    <tr><th>For Price Records Updation</th></tr>
                    <tr>
                        <td>
                            <a href="{% url 'upload:FuelPriceUpdate' %}">Fuel Price Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="width:30%; display: inline-block;">
            <table>
                <tbody>
                <tr><th>To Enroll Drivers </th></tr>
                <tr>
                   <td><a href="{% url 'upload:DriverEnroll' %}">Enroll Driver</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </center>
</div>
{% endblock content %}