{% extends 'analytics/base.html' %}
<title>
    {% block title %}
        Analytics Home
    {% endblock title %}
</title>

{% block content %}
<div style="margin-left:5%; margin-right:5%;width:90%%;height:100%;">
    <center>
        <thead>
            <h2>For trends/analytics</h2><br/>
        </thead>
        <table>
            <tr>
                <span style="height:5px;"></span>
            </tr>
            <tr>
                <th style="text-align:center;padding:10px;">Serial No.</th>

                <th style="text-align:center;padding:10px;">View</th>
            </tr>
            <tr>
                <span style="height:10px;"></span>
            </tr>
            <tr>
                <td> 1. </td>
                <td>
                    <a href="{% url 'analytics:DriverSpendView'  %}">Spend History By Driver ID</a>
                </td>
            </tr>
            <tr>
                <td> 2. </td>
                <td>
                    <a href="{% url 'analytics:FuelSpendView'  %}">Total Spend By Fuel Type</a>
                </td>
            </tr>
            <tr>
                <td> 3. </td>
                <td>
                    <a href="{% url 'analytics:TotalSpendView'  %}">Total Spend In A Month</a>
                </td>
            </tr>
            <tr>
                <td> 4. </td>
                <td>
                    <a href="{% url 'analytics:AcrossSpendView'  %}">Total Spend Across Drivers</a>
                </td>
            </tr>
        </table>
    </center>
</div>
{% endblock content %}