{% extends 'analytics/base.html' %}

{% block content %}
<div style="text-align: center; margin-left: 20%; margin-top:1%;width: 50%;">
    <center>
        {% if purchase_record.has_previous %}
            <span>
                <a href="?page={{ purchase_record.previouse_page_number }}">
                    <&nbsp;
                </a>
            </span>
        {% endif %}
         <strong>
              <a href="">Purchase Records of {{driver}}</a>
         </strong>
        {% if purchase_record.has_next %}
            <span>
                <a href="?page={{ purchase_record.next_page_number }}">
                    &nbsp;>
                </a>
            </span>
        {% endif %}
        {% if purchase_record %}
            <table border = "solid black 2px">
                <tr>
                    <th style="text-align: center;">Serial Number</th>
                    <th style="text-align: center;">PurchasedDate</th>
                    <th style="text-align: center;">Volume</th>
                    <th style="text-align: center;">Price</th>
                    <th style="text-align: center;">Spend Amount ($)</th>
                    <th style="text-align: center;">FuelType</th>
                </tr>
                {% for records in purchase_record %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{records.dated}}</td>
                        <td>{{records.volume}}</td>
                        <td>{{records.price}}</td>
                        <td>{{records.spent| floatformat:"2"}}</td>
                        <td>{{records.fuel_type}}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <strong>
                <a href="">No records found for driver {{driver.name}}.</a>
            </strong>
        {% endif %}
        {% if purchase_record.has_previous %}
            <span>
                <a href="?page={{ purchase_record.previouse_page_number }}">
                    <&nbsp;
                </a>
            </span>
        {% endif %}
         <strong>
              <a href="">Purchase Records of {{driver}}</a>
         </strong>
        {% if purchase_record.has_next %}
            <span>
                <a href="?page={{ purchase_record.next_page_number }}">
                    &nbsp;>
                </a>
            </span>
        {% endif %}
    </center>
    <br/>
    <strong>
        To check other drivers' purchase records, click
        <a href="{% url 'analytics:DriverSpendView' %}">here</a>.
    </strong>
    <center><strong>Or</strong></center>
    <strong>
        To check on other available stats click
        <a href="{% url 'analytics:AnalyticsView' %}">here</a>.
    </strong>
</div>
{% endblock content %}