{% extends 'analytics/base.html' %}

{% block content %}
<div style="text-align: left; margin-left: 5%; margin-top:1%;width: 50%;">
    {% if model %}
        <table border = "solid black 2px">
            <tbody>Purchase Records of {{driver}}</tbody>
            <tr>
                <th>PurchasedDate</th>
                <th>Volume</th>
                <th>Price</th>
                <th>FuelType</th>
            </tr>
            {% for records in model %}
                <tr>
                    <td>{{records.dated}}</td>
                    <td>{{records.volume}}</td>
                    <td>{{records.price}}</td>
                    <td>{{records.fuel_type}}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <strong><a href="">No records found for driver {{driver.name}}.</a></strong>
    {% endif %}
</div>
{% endblock content %}